// Vilius Dzemyda
// Author: Vilius Dzemyda
// Built with Sass - http://sass-lang.com/

// THEME COLORS
// =============================================================================

$color-one: #223344;

$color-primary: #8888ff;

$color-sky-lightest: #f9fafb;
$color-sky-lighter: #f4f6f8;
$color-sky-light: #dfe3e8;
$color-sky: #c4cdd5;

$color-ink-lightest: #919eab;
$color-ink-lighter: #637381;
$color-ink-light: #454f5b;
$color-ink: #212b36;

// BULMA
// https://bulma.io/documentation/customize/variables/
// =============================================================================

$primary: $color-primary;
$body-background-color: #fff;
$family-primary: 'Ubuntu', sans-serif;
$text: $color-one;

$navbar-background-color: transparent;
$navbar-height: 4.5rem;
$navbar-padding-horizontal: 6rem;

// $navbar-item-color: #fff;
$navbar-item-hover-color: $color-one;
$navbar-item-hover-background-color: transparent;

$dimensions: 240;
