// Vilius Dzemyda
// Author: Vilius Dzemyda
// Built with Sass - http://sass-lang.com/

// THEME COLORS
// =============================================================================

$color-primary: #5c6ac4;

$color-sky-lightest: #f9fafb;
$color-sky-lighter: #f4f6f8;
$color-sky-light: #dfe3e8;
$color-sky: #c4cdd5;

$color-ink-lightest: #919eab;
$color-ink-lighter: #637381;
$color-ink-light: #454f5b;
$color-ink: #212b36;

// BULMA
// https://bulma.io/documentation/customize/variables/
// =============================================================================

$family-primary: 'Overlock', sans-serif;

$navbar-height: 4.5rem;
$navbar-padding-horizontal: 6rem;

$primary: $color-primary;

$dimensions: 240;
