// Vilius Dzemyda
// Author: Vilius Dzemyda
// Built with Sass - http://sass-lang.com/

// THEME COLORS
// =============================================================================

$color-one: #ffffff;
$color-two: #9f1550;

$color-primary: $color-two;

$color-sky-lightest: #f9fafb;
$color-sky-lighter: #f4f6f8;
$color-sky-light: #dfe3e8;
$color-sky: #c4cdd5;

$color-ink-lightest: #919eab;
$color-ink-lighter: #637381;
$color-ink-light: #454f5b;
$color-ink: #212b36;
