// Vilius Dzemyda
// Author: Vilius Dzemyda
// Built with Sass - http://sass-lang.com/

// Import our custom variables
@use 'variables' as *;

// Import Bulma - it will use its default variables
@use 'bulma/bulma';

// Theme
// =============================================================================

::-moz-selection {
  background-color: $color-two;
  color: #222;
}

::selection {
  background-color: $color-two;
  color: #222;
}
