// Vilius Dzemyda
// Author: Vilius Dzemyda
// Built with Sass - http://sass-lang.com/

@import '_variables.scss';

// BULMA CSS
// =============================================================================

@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/base/_all';
@import '~bulma/sass/elements/button';
@import '~bulma/sass/elements/container';
@import '~bulma/sass/components/navbar';

// Theme
// =============================================================================

$body-background: $color-sky-lighter !default;
$heading-text-color: $color-ink !default;

body {
  background: $body-background;
  color: $heading-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Overlock', sans-serif;
  font-weight: 900;
  color: $heading-text-color;
}

.main {
  // min-height: 600px;
}
